@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main {
  background: #aaa url(../images/bg.jpg) no-repeat;
  width: 800px;
  height: 600px;
  margin: 50px auto;
}

.panel {
  background-color: #444;
  height: 34px;
  padding: 10px;
}

.panel a#login_pop, .panel a#join_pop {
  border: 2px solid #aaa;
  color: #fff;
  display: block;
  float: right;
  margin-right: 10px;
  padding: 5px 10px;
  text-decoration: none;
  text-shadow: 1px 1px #000;
  border-radius: 10px;
}

a#login_pop:hover, a#join_pop:hover {
  border-color: #eee;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  cursor: default;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  z-index: 1;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
  z-index: 1000;
}

.popup, .popup_2 {
  background-color: #fff;
  border: 3px solid #fff;
  display: inline-block;
  left: 50%;
  opacity: 0;
  position: fixed;
  text-align: justify;
  top: 40%;
  visibility: hidden;
  z-index: 1000;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 10px;
  -webkit-transition: opacity 0.5s, top 0.5s;
  -o-transition: opacity 0.5s, top 0.5s;
  transition: opacity 0.5s, top 0.5s;
}

.popup_cont_2 {
  width: 400px;
}

.overlay:target + .popup {
  top: 50%;
  opacity: 1;
  visibility: visible;
}

.overlay:target + .popup_2 {
  top: 50%;
  opacity: 1;
  visibility: visible;
}

.close {
  background-color: rgba(0, 0, 0, 0.8);
  height: 30px;
  line-height: 30px;
  position: absolute;
  right: 0;
  text-align: center;
  text-decoration: none;
  top: -15px;
  width: 30px;
  border-radius: 15px;
}

.form_btn {
  text-decoration: none;
}

.popup_cont {
  padding: 20px 30px 10px;
}

.form_cont .upper_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 500px;
  margin-bottom: 50px;
}
.form_cont .upper_form .picture_of_prod {
  display: block;
  width: 200px;
  -o-object-fit: contain;
  object-fit: contain;
  height: 100%;
}
.form_cont .upper_form .picture_of_prod .left_part_img_cont {
  height: 100%;
}
.form_cont .upper_form .picture_of_prod .catalog-photo-frame {
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}
.form_cont .upper_form .picture_of_prod .catalog-photo-frame img {
  width: 100%;
  border: 4px solid #70c048;
  padding: 5px;
}
.form_cont .upper_form .desc_of_prod {
  margin-left: 30px;
  width: 300px;
}
.form_cont .upper_form .desc_of_prod .item_text .options, .form_cont .upper_form .desc_of_prod .item_text .item_desc_title {
  color: #000;
  font: bold 20px/24px Cuprum, sans-serif;
  margin: 1em 0;
  text-transform: uppercase;
}
.form_cont .upper_form .desc_of_prod .item_text .item_desc_title {
  text-align: left;
  margin: 0em 0 0.5em;
}
.form_cont .upper_form .desc_of_prod .item_text .item_desc {
  margin: 1em 0 2em;
  padding: 0 5px 0 24px;
  font-size: 16px;
  line-height: 1.1;
}
.form_cont .upper_form .desc_of_prod .item_text .item_standart, .form_cont .upper_form .desc_of_prod .item_text .item_comp, .form_cont .upper_form .desc_of_prod .item_text .item_density, .form_cont .upper_form .desc_of_prod .item_text .item_color, .form_cont .upper_form .desc_of_prod .item_text .item_size, .form_cont .upper_form .desc_of_prod .item_text .item_tall, .form_cont .upper_form .desc_of_prod .item_text .aim {
  padding: 0 5px 0 24px;
  position: relative;
  font-size: 16px;
}
.form_cont .upper_form .desc_of_prod .item_text .item_standart:before, .form_cont .upper_form .desc_of_prod .item_text .item_comp:before, .form_cont .upper_form .desc_of_prod .item_text .item_density:before, .form_cont .upper_form .desc_of_prod .item_text .item_color:before, .form_cont .upper_form .desc_of_prod .item_text .item_size:before, .form_cont .upper_form .desc_of_prod .item_text .item_tall:before, .form_cont .upper_form .desc_of_prod .item_text .aim:before {
  content: "•";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.form_cont .upper_form .desc_of_prod .item_text .aim {
  margin: -20px 0 20px;
}
.form_cont .upper_form .desc_of_prod .item_text .item_tall {
  margin: 0 0 20px;
}
.form_cont .lower_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.form_cont .lower_form .price_of_prod {
  font-size: 25px;
}
.form_cont .lower_form .price_of_prod .price-value span {
  color: #70c048;
}
.send_button, .send_button_2, .form_btn_2 {
  width: 50%;
  padding: 20px 0;
  color: #fff;
  border-radius: 50px;
  border: none;
  background: #70c048;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.send_button:hover, .send_button_2:hover, .form_btn_2:hover {
  background: #76EB48;
}

.send_button_2 {
  width: 100%;
}

.form_btn_2 {
  text-decoration: none;
  text-align: center;
}
.form_btn_2 span {
  color: #fff;
}

.form_cont_2 {
  padding: 30px;
}

.input_item {
  margin: 0 0 20px;
}
.input_item input {
  width: 100%;
  padding: 15px 15px 15px 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  background: #ebebeb;
  border-radius: 50px;
  font-size: 20px;
  font-family: Cuprum, sans-serif;
  color: #6e6e6e;
}

a:active, a:focus {
  outline: none;
}

input, textarea {
  outline: none;
}

input:active, textarea:active {
  outline: none;
}

:focus {
  outline: none;
}

textarea {
  resize: none;
}

textarea {
  resize: vertical;
}

textarea {
  resize: horizontal;
}